<%- layout('layout/boilerplate') -%>
   <h1>INDEX OF POSTS</h1> 
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% for(let post of posts){%>
   
      <div class="col " >
        <div class="card h-100">
        <img src="<%= post.image %>" alt="" class="card-img-top">
        <div class="card-body">
          <p class="card-title text-center"><%= post.title%></p>
          <p class="card-text"><small class="text-muted"> <%= post.tags %> </small></p>
        </div>
        <div class="text-right mb-3">
          <a href="/blogs/<%= post._id %>" class="btn btn-primary ">Read More</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Date Posted: <%= post.date.toDateString() %></small>
      </div>  
      </div>
  </div>   

  <%}%>
  </div>
      